@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600;700');

:root{
    --neon-blue: #5465ffff;
    --cornflower-blue: #788bffff;
    --periwinkle: #bfd7ffff;
}

body{
    background-color: var(--periwinkle);
    /* background: #4D5646; */
    /* background: #fff; */
    height: 96vh;
    display: flex;
    align-items: center;
    font-family: krub;
}

h1{
    border-bottom: 1px solid rgb(235, 225, 225);
    /* width: 70%; */
    margin: auto;
    padding: 1rem 0 0.8rem;
}

.card{
    margin: 0 auto;
    max-width: 20rem;
    box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.37);
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fdf5f5;
}

.image{
    max-width: 100%;  
    overflow: hidden;
    border-radius: 0.8rem;
}

img:hover{
    transform: scale(1.1);
}

img{
    transition: all 0.4s;
    width: 100%;
}


.details{
    text-align: center;
}

.content{
    /* text-align: left; */
    font-weight: 500;
}

.githubURL{
    background-color: var(--cornflower-blue);
    border-radius: 1.3rem;
    padding: 0.8rem 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.githubURL a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.githubURL:hover{
    transform: scale(1.02);
    transition: all 0.4s;
}

.text{
    font-weight: 700;
}

.github{
    width: 1rem;
    color: white;
}


